# Install software defined in .tool-versions
asdf install

# Setup $PATH to point to asdf installed applications
use asdf

# Default to python3 from .tool-versions; setup venv
layout python
echo "Installing any pip packages, as necessary"
pip install -q -U wheel pip setuptools
if [ -e "requirements.txt" ]; then pip install -q -r requirements.txt; fi